importlib-metadata==6.8.0
importlib-resources==6.0.1
introspection==1.5.2
ordered-set==4.1.0
packaging==23.1
pkg-about==1.0.8
pycairo==1.24.0
pyexiv2==2.8.2
PyGObject==3.44.1
renumerate==1.1.10
sentinel==1.0.0
tomli==2.0.1
typing_extensions==4.7.1
zipp==3.16.2
